{% extends "base.html" %}

{% block content %}
  <h3>
    Username: {{ cook.username }}
  </h3>

  <p><strong>First name:</strong> {{ cook.first_name }}</p>
  <p><strong>Last name:</strong> {{ cook.last_name }}</p>
  <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>

{% if dishes %}
  <h4>Assigned Dishes:</h4>
  <ul>
    {% for dish in dishes %}
      <li style="color: chocolate">{{ dish.name }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No dishes assigned to this cook.</p>
{% endif %}

{% endblock %}
