{% extends "base_presentation.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <form class="navbar-search form-inline" id="navbar-search-main">
      <div class="input-group input-group-merge search-bar">

          <form action="" method="get" class="form-inline">
            {{ search_form|crispy }}
            <input class="btn btn-secondary " type="submit" value="&#128269;">
          </form>

      </div>
    </form>
  <br>
  <br>
  <h1>
    List of Dish Types
    <a href="{% url 'restaurant:dishtype-form' %}" class="btn btn-outline-primary link-to-page">
      + new dish type
    </a>
  </h1>
  <br>
  <br>
{#  <form action="" method="get" class="form-inline">#}
{#      {{ search_form|crispy }}#}
{#      <input class="btn btn-secondary " type="submit" value="&#128269;">#}
{#  </form>#}
  <br>
  <br>
  {% if dishtypes %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>UPDATE</th>
        <th>DELETE</th>

      </tr>

      {% for dishtype in dishtypes %}
        <tr>
          <td>
              {{ dishtype.id }}
          </td>
          <td>
             <a style="color: saddlebrown "href="{% url 'restaurant:dishtype-detail' pk=dishtype.id %}">
                 {{ dishtype.name }}
              </a>

          </td>

          <td>
              <a href="{% url 'restaurant:dishtype-form' pk=dishtype.id %}">
                UPDATE
              </a>
          </td>

          <td>
              <a style="color: red"
                href="{% url 'restaurant:dishtype-confirm-delete' pk=dishtype.id %}">
                DELETE
              </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no dish types in the kitchen service list.</p>
  {% endif %}
{% endblock %}
