{% extends "base.html" %}

{% block content %}
  <h1>
    List of Dishes
    <a href="{% url 'restaurant:dish-form' %}" class="btn btn-outline-primary link-to-page">
      + new dish
    </a>
  </h1>

  {% if dishes %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Dish type</th>
        <th>Ingredients</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish in dishes %}
        <tr>
          <td>
              {{ dish.id }}
          </td>
          <td>
            <a href="{% url 'restaurant:dish-detail' pk=dish.id %}">{{ dish.name }}</a>
          </td>
          <td>
              {{ dish.price }}
          </td>
          <td>
              {{ dish.dish_type }}
          </td>
          <td>
            {% for ingredient in dish.ingredients.all %}
              {{ ingredient.name }}
              {% if not forloop.last %}, {% endif %}
            {% empty %}
              None
            {% endfor %}
          </td>
          <td>
{#              <a href="{% url 'restaurant:dish-update' pk=dish.id %}">#}
{#                Update#}
{#              </a>#}
{#            </td>#}
{#            <td>#}
              <a style="color: red"
                href="{% url 'restaurant:dish-delete' pk=dish.id %}">
                DELETE
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no dishes in the kitchen service list .</p>
  {% endif %}

{#  {% if messages %}#}
{#  <div class="alert alert-success" role="alert">#}
{#    {% for message in messages %}#}
{#      {{ message }}#}
{#    {% endfor %}#}
{#  </div>#}
{#{% endif %}#}

{% if messages %}
    {% for message in messages %}
        <div class="{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
{#            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
        </div>
    {% endfor %}
{% endif %}


{% endblock %}
