{% extends "base.html" %}

{% block content %}
    <h1>Ingredient List

      <a href="{% url 'restaurant:ingredient-form' %}" class="btn btn-outline-primary link-to-page">
        + new ingredient
      </a>
   </h1>

    {% if ingredients %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Part of which dish</th>
        <th>DELETE</th>

      </tr>
    {% for ingredient in ingredients %}
      <tr>
        <td>{{ ingredient.id }}</td>
        <td><a href="{% url 'restaurant:ingredient-detail' pk=ingredient.id %}">{{ ingredient.name }} </a></td>

{#        <td>{{ cook.license_number }}</td>#}
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no ingredients in the service.</p>
    {% endif %}
{% endblock %}


